# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
rpg_venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# Local outputs
outputs/
logs/
rpg_venv/
